/*------------------------------------Header----------------------------------*/
header{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25%;
}

/*---Estilizando menus */
#menus{
  height: 20%;
}

#menu-nav-principal, #menu-acessibilidade{
  box-sizing: border-box;
  height: 3.5rem;
}

#menu-nav-principal a, #menu-acessibilidade li{
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
}

#menu-nav-principal li, #menu-nav-acessivel li, #menu-acessibilidade li{
  list-style: none;
  display: inline-block;
}

/*---Menu nav principal*/

#menu-nav-principal a{
  text-decoration: none;
  transition: color 100ms linear;
}

#menu-nav-principal a:hover, #menu-nav-principal a:focus{
  text-decoration: underline;
}

#menu-nav-principal ul{
  white-space: nowrap;
  padding-left: 2%;
}

#menu-nav-principal li{
  white-space: nowrap;
  margin-left: 0.8rem;
}

#menu-nav-principal{
  float: left;
  padding: 0em 0em;
  margin: 0em 0em;
  width: 60%;
}

/*---menu-acessibilidade*/

#menu-acessibilidade{
  float: right;
  text-align: right;
  width: 40%;
}

#menu-acessibilidade li{
  padding-right: 0.8rem;
}

#menu-acessibilidade ul{
  white-space: nowrap;
  padding-left: 0%;
  margin-right: 6%;
}

img[src$="imgs/icons/quadrado-preto.png"]{
  border: none;
}

.botao-fonte{
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.3rem 0.3rem;
  transition: color 550ms ease-out;
  transition: background-color 550ms ease-out;
}

.img-contraste{
  user-select: none;
  cursor: pointer;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 50%;
  padding: 0em 0em;
  width: 0.66599em;
  height: 0.6699em;
  font-size: 2em;
}

/*---Menu-nav-acessivel */
#menu-nav-acessivel{
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  width: auto;
  height: 2.121em;
  padding: 0.422em 0.332em;
  left: 1%;
  transition: top 350ms linear;
}

#menu-nav-acessivel:focus{
  top: 0;
}

#menu-nav-acessivel ul{
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem;
  padding: 0rem 0rem;
  height: 100%;
  width: 100%;
}

#menu-nav-acessivel ul li{
  white-space: nowrap;
  padding: 0rem 0.5rem;
  font-size: 1em;
}

#menu-nav-acessivel ul li:first-of-type{
  border-left: none;
  margin-left: 0rem;
}

#menu-nav-acessivel a{
  text-decoration: none;
}

#menu-nav-acessivel a:hover, #menu-nav-acessivel a:focus{
  text-decoration: underline;
}

#div-modal{
  opacity: 0;
}

/*---Estilizando img e logo */
#imagem-logo > span > h1{
  font-style: italic;
  font-weight: lighter;
  background-color: transparent;
  white-space: nowrap;
  font-style: italic;
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: "Lobster Two", sans-serif;
  font-size: 8vw;
}

#imagem-logo{
  clear: both;
  height: 34vw;
}

#imagem-logo, #imagem-logo > span{
  width: 100%;
}

#imagem-logo > span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*---------------------------------Menus small--------------------------------*/

#menu-responsive{
  display: none;
}

/*------------------------------------Main------------------------------------*/

main{
  height: 60%;
  padding: 0.8rem 1.2rem;
  margin: 1.5% 1.5%;
}

main h2{
  text-align: center;
  font-weight: normal;
  font-family: "Comfortaa", sans-serif;
  margin-top: 1.5%;
  padding: 1.6rem 0rem;
  font-size: 2.3em;
}

main h3, main h4, main h5{
  font-weight: normal;
  font-family: "Comfortaa", sans-serif;
  margin-top: 5%;
  margin-bottom: 2.6%;
  margin-left: 3.7%;
  font-size: 1.6em;
}

main h4{
  font-style: italic;
  margin-top: 3.5%;
  margin-left: 7%;
  font-size: 1.4em;
}

main h5{
  font-style: italic;
  margin-top: 3%;
  margin-left: 11%;
  font-size: 1.28em;
}

.local-site, .local-site a{
  font-size: 1em;
}

.local-site{
  margin: 1.2% 1.5%;
}

/*-----------------------------------Footer-----------------------------------*/

footer{
  height: 25%;
}

.seta-cima{ /* Gera a seta para cima, na parte de voltar ao topo no footer */
  border-style: solid;
  display: inline-block;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#volta-topo a{
  text-decoration: none;
  font-size: 1.25em;
}

#volta-topo{
  text-align: center;
  width: 100%;
  height: 20%;
  padding: 0.7rem 0rem;
}

#final-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
  padding: 0.8rem 0rem;
}

#final-footer h2{
  font-weight: lighter;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2em;
  padding-bottom: 0.2rem;
}

#final-footer ul{
  list-style: none;
  padding-left: 0em;
  width: 110%;
}

#final-footer section:last-of-type{
  margin-left: 0.5em;
}

#final-footer li{
  padding-left: 3.4%;
  font-size: 1.1em;
}

#final-footer a{
  text-decoration: none;
  font-size: 1em;
}

.links-voltar{
  text-decoration: none;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  font-size: 0.73em;
  margin-left: 1em;
  transition: color 100ms linear;
}

.links-voltar:hover, .links-voltar:focus{
  text-decoration: underline;
}

#final-footer a:hover, #final-footer a:focus, #volta-topo a:hover, #volta-topo a:focus{
  text-decoration: underline;
}

img[src$="imgs/logos/CEFET-MG.png"]{
  height: 7em;
  border-radius: 10%;
}

/*------------------------------------Geral-----------------------------------*/
*{
  transition: color 2000ms linear;
  transition: background-color 1000ms linear;
}

body{
  margin: 0em 0em;
}

p, a, li, figcaption{
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
}

ul ul li{
  font-size: 1em;
}

p{
  font-weight: 100;
}

a{
  text-decoration: underline;
  font-size: 1em;
}

a:active{
  font-style: italic;
}

a:hover, a:focus{
  text-decoration: none;
}

figure{
  display: inline-block;
  box-sizing: border-box;
  margin-left: 1.5em;
  margin-bottom: 1em;
  padding: 0.5em 0.5em;
  min-width: 11.2em;
  border-radius: 8px;
}

figure > img{
  height: auto;
  width: 100%;
  margin-bottom: 0.15em;
}

figcaption{
  padding-top: 0.3em;
  font-size: 1em;
}

.topico{
  clear: both;
  margin: 0em 3.85rem;
}

.topico-img-left{
  float: left;
  margin-right: 2em;
  margin-bottom: 0.5em;
}

.topico-img-right{
  float: right;
  margin-left: 2em;
  margin-bottom: 0.5em;
}

.botao-link, .desabilitado{
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  padding: 0.85rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  transition: background-color 500ms ease-out;
}

.desabilitado{
  display: flex;
  align-items: center;
  justify-content: center;
}

.desabilitado > img{
  user-select: none;
}

.botao{
  text-align: center;
  padding: 1rem 1.4rem;
  margin-top: 1.4rem;
  border-radius: 5px;
  transition: background-color 500ms ease-out;
}

.botao a{
  text-decoration: none;
  font-size: 1.5em;
}

.botao a:hover, .botao a:focus{
  text-decoration: underline;
}

.alinha-botao{
    display: flex;
    justify-content: center;
}

.oculto{
  display: none;
}

.texto-escondido{
  font-size: 0;
}

.botao-imgs{
  background: transparent;
  border: none;
  cursor: pointer;
}

/*-----------------------------Classes javascript-----------------------------*/

/* Nivel insuficiente para a matéria*/
.main-bloqueado{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-bloqueado > h2{
  align-self: stretch;
}

.main-bloqueado > div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  height: 65%;
  width: 65%;
}

/* Classes que fazem a tranzição do menu a esquerda */
.aparece-menu{
  display: auto;
  left: 0vw;
  top: 0vh;
}

.some-menu{
  display: none;
  left: -254px;
  top: 0vh;
}

/* Classes que fazem a interação com a div modal */
.aparece-div-modal{
  /* display: inline; */
  background-color: rgb(0, 0, 0);
  animation: fadeIn 250ms ease 0s 1;
}

@keyframes fadeIn{
  from {opacity: 0}
  to   {opacity: 0.7}
}

.some-div-modal{
  /* display: none; */
  animation: fadeOut 250ms ease 0s 1;
}

@keyframes fadeOut{
  from {opacity: 0.7}
  to   {opacity: 0}
}

/* Classes que fazem apercer o menu-nav-acessivel*/
.desce-menu-nav-acessivel{
  top: 0;
}

.sobe-menu-nav-acessivel{
  top: -2.121em;
}

/*--- Animação do botão tremendo*/
.locked{
  backface-visibility: hidden;
  perspective: 1000px;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake{
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

/*-------------------------------Classes Texto--------------------------------*/

.nome-cientifico{
  font-weight: bold;
  font-style: italic;
}

.text-center{
  text-align: center;
}

.align-btn-center{
  text-align: center;
  margin-top: 2.7em;
  margin-bottom: 2.7em;
  width: 100%;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clear-both{
  clear: both;
}
