/*----------------------------------------------------------------------------*/
@media (min-width: 2560px){
  #menu-nav-principal a, #menu-acessibilidade li{
    font-size: 1em;
  }

  #menu-nav-principal li{
    margin-left: 1rem;
  }

  #menu-acessibilidade li{
      margin-right: 1rem;
  }

  #menu-nav-principal, #menu-acessibilidade{
    height: 4.2rem;
  }

  /*------------------------------------Main----------------------------------*/
  main li a{
    font-size: 1.1em;
  }

  main h2{
    font-size: 3em;
    padding: 2.5rem 0rem;
  }

  main h3{
    font-size: 1.75em;
  }

  main h4{
    font-size: 1.55em;
  }

  main h5{
    font-size: 1.43em;
  }

  p, li{
    font-size: 1.8em;
  }

  figcaption{
    font-size: 1.65em;
  }

  a{
    font-size: 1em;
  }

  /*-----------------------------------Footer---------------------------------*/

  #final-footer h2{
    font-size: 1.3em;
    border-bottom-width: 1px;
  }

  #final-footer li, #final-footer a{
    font-size: 1.2em;
  }

  img[src$="imgs/logos/CEFET-MG.png"]{
    height: 8rem;
  }
}

/*----------------------------------------------------------------------------*/
@media (max-width: 1090px){
  /*-----------------------------Alterando o Header-----------------------------*/
  #menu-nav-principal, #menu-acessibilidade{
    display: none;
  }

  #menu-responsive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    height: 20%;
  }

  #botao-hamburguer{
    margin-right: auto;
    cursor: pointer;
    user-drag: none;
    background-color: transparent;
    border: none;
  }

  #menu-responsive .img-hamburguer{
    margin-right: auto;
    user-select: none;
    cursor: pointer;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 2.2em;
    width: 2.2em;
  }

  #menu-responsive .img-virus-responsive{
    margin-right: auto;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 3em;
  }

  /*-------------------------Adicionando o menu escondido-----------------------*/
  #menu-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    overflow-y: scroll;
    border-right: 1px solid #A5A59F;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 254px;
    margin-top: 0em;
    padding: 5% 1.5%;
    padding-left: 0.1rem;
    padding-top: 2.4%;
    z-index: 1;
    transition: left 500ms ease-out;
  }

  #menu-esquerda a{
    text-decoration: none;
    transition: color 100ms linear;
  }

  #menu-esquerda a:hover, #menu-esquerda a:focus{
    text-decoration: underline;
  }

  #menu-esquerda a, #menu-esquerda li{
    font-size: 1.1rem;
  }

  #botao-fecha-menu{
    align-self: flex-start;
    margin-bottom: 1.5em;
    margin-left: 7%;
  }

  #botao-fecha-menu > img{
    height: 1.7em;
    width: 1.7em;
  }

  #menu-esquerda img[src$="imgs/icons/virus-black.png"]{
    width: 3em;
    height: 3em;
  }

  .botao-fonte{
    padding: 0.2rem 0.2rem;
    font-size: 0.85em;
  }

  #menu-esquerda ul{
    list-style: none;
    padding-left: 0;
  }

  #menu-esquerda > ul:first-of-type{
    border-bottom: 1px solid #BABAB2;
    padding: 6% 0rem;
    padding-left: 1.5rem;
    margin-bottom: 1.2em;
  }

  #menu-esquerda ul:first-of-type li{
    margin-bottom: 0.381rem;
  }

  #menu-esquerda > section{
    display: flex;
    flex-direction: column;
  }

  #menu-esquerda > section > ul{
    display: flex;
    flex-wrap: nowrap;
    display: block;
    margin-bottom: 10em;
  }

  #menu-esquerda > section > ul:first-of-type{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  #menu-esquerda > section > ul > li{
    display: inline-block;
    margin-left: 0.35rem;
  }

  #menu-esquerda > section > ul > li:first-of-type{
    margin-left: 0rem;
  }

  #div-modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/*----------------------------------------------------------------------------*/
@media (max-width: 720px){
  .local-site, .local-site a{
    font-size: 0.86em;
  }
}

/*----------------------------------------------------------------------------*/
@media (max-width: 630px){
  #menu-nav-acessivel{
    height: 1.921em;
  }

  #menu-nav-acessivel ul li{
    font-size: 0.85em;
  }

  .sobe-menu-nav-acessivel{
    top: -2.121em;
  }
}

/*----------------------------------------------------------------------------*/
@media (max-width: 560px){
  #playerStatus{
    left: calc(100% - 4.3em);
    bottom: 5%;
    width: 14.5em;
    height: 3em;
  }

  #playerStatus:focus-within, #playerStatus:hover{
    left: calc(100% - 14.5em);
  }

  #playerStatus > a{
    font-size: 1.1em;
    padding: 0.85rem 1.25rem;
    height: 0.4rem;
    position: relative;
    top: 50%;
    margin-top: -1.05rem;
  }

  #playerStatus > div > img{
    height: 20px;
    width: 20px;
  }

  #menu-responsive .img-hamburguer{
    height: 1.7em;
    width: 1.7em;
  }

  #menu-responsive .img-virus-responsive{
    height: 2.5em;
  }

  .topico{
    margin: 0em 2.5rem;
  }

  .botao{
    padding: 0.8rem 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.4rem;
  }

  .botao a{
    font-size: 1.2em;
  }

  /*------------------------------------Main----------------------------------*/
  main li a{
    font-size: 0.9em;
  }

  main h2{
    font-size: 1.5em;
    padding: 1rem 0rem;
  }

  main h3{
    font-size: 1.2em;
  }

  main h4{
    font-size: 1em;
  }

  main h5{
    font-size: 1em;
  }

  p, a, li{
    font-size: 1em;
  }

  figcaption{
    font-size: 0.9em;
  }

  .botao-link, .desabilitado{
    font-size: 1em;
    padding: 0.65rem 0.95rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .desabilitado > img{
    height: 22px;
    width: 22px;
  }

  /*-----------------------------------Footer---------------------------------*/

  #final-footer h2{
    font-size: 0.8em;
    border-bottom-width: 1px;
  }

  #final-footer li, #final-footer a{
    font-size: 0.95em;
  }

  #volta-topo a{
    font-size: 1.1em;
  }

  img[src$="imgs/logos/CEFET-MG.png"]{
    height: 5.5rem;
  }
}

/*----------------------------------------------------------------------------*/
@media (max-width: 525px){
  #menu-nav-acessivel{
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  #menu-nav-acessivel:focus-within{
    opacity: 1;
  }

  #menu-nav-acessivel ul li{
    border-left: none;
    padding: 0rem 0rem;
  }

  #menu-nav-acessivel ul li a{
    font-size: 0;
  }

  #menu-nav-acessivel ul li a:focus{
    font-size: 1.25em;
  }
}
